<div class="container" >
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">
        <!-- <button type="button" class="btn btn-warning"><i class="bi bi-plus-square-fill"></i> Add Product</button> -->


      </a>
    </li>

  </ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Sl.No</th>
      <th scope="col">Products</th>
      <th scope="col">Customer</th>
      <th scope="col">Order date</th>
      <th scope="col">Payment</th>
      <th scope="col">Price</th>

      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    @for(f of data ;track f ; let i = $index){
      <tr>
        <th scope="row">{{i}}</th>
        <td>


            <app-sellordersproductlist [id]="f.product"></app-sellordersproductlist>

        </td>
        <td>{{f.firstName}}</td>
        <td>{{f.orderDate | date: 'mediumDate'}}</td>
        <td>{{f.paymentmode}}</td>
        <td>{{f.totalAmount | currency: 'INR':'symbol'}}</td>
        <td style="display: flex;align-items: center;justify-content: space-between;">
          <div class="statusbar">
            {{f.status}}
          </div>
          <button (click)="toggleDetails(i)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i  class="bi bi-eye-fill"></i>
          </button>

        <!-- Order Details Section -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div *ngIf="expandedIndex === i" class="order-details p-3 border mt-2">
                  <p><strong>Points</strong>{{f.points}}</p>
                  <p><strong>Address:</strong> {{ f.address }}</p>
                  <p><strong>City:</strong> {{ f.city }}</p>
                  <p><strong>District:</strong> {{ f.district }}</p>
                  <p><strong>State:</strong> {{ f.state }}</p>
                  <p><strong>Zipcode:</strong> {{ f.zipcode }}</p>
                  <label for="statusDropdown"><strong>Update Status:</strong></label>
                  <select
                    id="statusDropdown"
                    class="form-select mt-2"
                    [(ngModel)]="f.status"
                    (change)="updateStatus(f.id, f.status,f.points,f.email)"
                  >
                    <option value="Pending">Pending</option>
                    <option value="Progress">Progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>


        </td>
      </tr>
    }



  </tbody>
</table>


</div>
