<div class="container">
<div class="row">
  <div class="col">
    <img style="max-width: 250px;" src="images/leeg (1).png" alt="" srcset="">
  </div>
  <div class="col">
    <img style="max-width: 250px;" src="images/leeg (2).png" alt="" srcset="">
  </div>
  <div class="col">
    <img style="max-width: 250px;" src="images/leeg (3).png" alt="" srcset="">
  </div>
  <div class="col">
    <img style="max-width: 250px;" src="images/leeg (4).png" alt="" srcset="">
  </div>
</div>
</div>
<div class="container1">
  <div class="row">
    <div class="col">
      <img src="images/logo-play.png" alt="" srcset="">
      <p style="font-size: 12px;padding-top: 20px;">exMart is the e commerce website of experion global which holds all the experion branded items for sale</p>
    </div>
    <div class="col">
      <p><strong> PRODUCTS</strong></p>
      <ul>
        <li routerLink="/ps5">PS5</li>
        <li routerLink="/ps4">PS4</li>
        <li routerLink="/ps3">PS3</li>
        <li routerLink="/ps5games">PS5 Games</li>
        <li routerLink="/ps4games">PS4 Games</li>
      </ul>
    </div>
    <div class="col">
      <p><strong> YOUR ACCOUNT</strong></p>
      <ul>

        <li routerLink="/userProfile">Manage account</li>
        <li routerLink="/myorders">Order History</li>
      </ul>
    </div>
    <div class="col">
      <p><strong> CONTACT</strong></p>
      <ul>
        <li style="display: flex;"><div>
          <i class="bi bi-telephone-fill"></i>
        </div>+91 99999 99999</li>
        <li style="display: flex;"><div>
          <i class="bi bi-envelope-fill"></i>
        </div>
          playbox.gmail.com</li>
        <li style="display: flex;"><div>
          <i class="bi bi-geo-alt-fill"></i>
        </div>
          HR, playboy, Gayathiri Building, Technopark phase-1, Trivandrum - 695581</li>
        <li><button class="btn btn-light">Chat with Us<i class="bi bi-send-fill" style="padding-left: 10px;"></i></button></li>
      </ul>
    </div>
  </div>
  <div class="row text-center">
    <p><strong>Terms and conditions | Shipping policy | Payment policy</strong></p>
    <hr>
    <p>© 2024 HR department Experion global</p>
  </div>
</div>
