<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="images/rent1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Play Station 5</h5>
          <p class="card-text">40+ Games Available </p>
          <div style="display: flex;justify-content: space-between;">
            <h4>499/day</h4>
            <a href="#" class="btn btn-danger" style="border-radius: 40px;">Book Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="images/rent2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">X Box Series 5 </h5>
          <p class="card-text">With Game Pass | Unlimited Games</p>
          <div style="display: flex;justify-content: space-between;">
            <h4>499/day</h4>
            <a href="#" class="btn btn-danger" style="border-radius: 40px;">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
