<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"><img src="images/logo-play.png" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sell">Sell</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Buy
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/ps5" >PS5</a></li>
            <li><a class="dropdown-item" routerLink="/ps4" >PS4</a></li>
            <li><a class="dropdown-item" routerLink="/ps3" >PS3</a></li>
            <li><a class="dropdown-item" routerLink="/ps4games">PS4 Games</a></li>
            <li><a class="dropdown-item" routerLink="/ps5games">PS5 Games</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentPage">Rent</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Link</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button routerLink="/cart" type="button" class="btn btn-outline-light position-relative">
          <i class="bi bi-bag-plus-fill"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{firestore.cartcount()}}
            <!-- <span class="visually-hidden">unread messages</span> -->
          </span>
        </button>
        @if(auth.authenticate()){
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <button class="btn btn-dark dropdown-toggle" style="border: 0;background-color: transparent;margin-left: 10px;margin-right: 10px;" data-bs-toggle="dropdown" aria-expanded="false">
                  {{auth.currentUserName()}}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" (click)="triggerSignout()">Sign Out</a></li>

                </ul>
              </li>
            </ul>
          </div>
        }
        @else {

          <button routerLink="/login" type="button" class="btn btn-light " style="width: 150px;margin-left: 10px;margin-right: 10px;">Sign In</button>
        }

        <!-- <button type="button" class="btn btn-outline-light " style="width: 150px;">Sign Up</button> -->

        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>
    </div>
  </div>
</nav>
