<!-- <div class="container">
  <div class="row">
    <div class="col">
      <img src="{{data.image}}" alt="" srcset="">
    </div>
    <div class="col">
      <h1>{{data.name}}</h1>
      <h2>{{data.price}}</h2>
    </div>
  </div>
</div> -->
<div class="container">


<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{data.image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">{{data.brand}}</p>
        <h2 class="card-title">{{data.name}}</h2>
        <p class="card-text">{{data.description}}</p>
        <hr>
        <h3 class="card-text">{{data.price | currency: 'INR':'symbol' }}</h3>
        <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
        <button type="button" class="btn btn-danger" style="border-radius: 0; margin-top: 30px;">Add to Cart</button>

      </div>
    </div>
  </div>
</div>
</div>
