<div class="container mt-4">
  <!-- Header with Navigation -->
  <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link " routerLink="/userProfile">Account</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" >My Orders</a>
      </li>
    </ul>
    <button class="btn btn-dark">Edit Account</button>
  </div>
@if(data==null){
  <div class="alert alert-warning" role="alert">
   No Orders yet !
  </div>
}@else {


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sl.No</th>
        <th scope="col">Products</th>

        <th scope="col">Order date</th>
        <th scope="col">Price</th>

        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      @for(f of data ;track f ; let i = $index){
        <tr>
          <th scope="row">{{i}}</th>
          <td>
            @for(k of f.product ; track k){

              <app-orderproductlist [id]="k"></app-orderproductlist>
            }
          </td>

          <td>{{f.orderDate | date: 'mediumDate'}}</td>
          <td>{{f.totalAmount | currency: 'INR':'symbol'}}</td>
          <td style="display: flex;align-items: center;justify-content: space-between;">
            <div class="statusbar">
              {{f.status}}
            </div>



          </td>
        </tr>
      }



    </tbody>
  </table>
}

</div>
