.card {
  border-radius: 15px;
}

.card-header {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card-body h5 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.form-select {
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}
